<!DOCTYPE html>
<html>
<head>
	<title>form</title>
</head>
<body bgcolor="black" text="green">
	<h1 style="color: white">HELLO THIS IS FORM FILE</h1>

	<table>
		<td></td>
		<form>
			
			Frist Name 		<input type="text" name=""><br><br>
			Last Name  		<input type="text" name=""><br><br>
			Father Name 	<input type="text" name=""><br><br>
			institute Name 	<input type="text" name=""><br><br>
			course  Name 	<input type="text" name=""><br><br>
			total fee 		<input type="text" name=""><br><br>
			&nbsp&nbsp&nbsp&nbsp&nbsp<input type="submit" name="" value=" submit">
			&nbsp&nbsp&nbsp&nbsp&nbsp<input type="reset" name="" value=" reset">
		</td>
		</form>
	
	</table>

</body>
</html>